---
ansible-navigator:
  execution-environment:
    container-engine: podman
    enabled: true
    image: {{ lab.navigator_execution_environment }}
    pull:
      policy: missing
  playbook-artifact:
    enable: True
    save-as: "/tmp/{playbook_name}-artifact.json"
    replay: "/tmp/replay-artifact.json"
  logging:
    file: /tmp/ansible_navigator.log
  editor:
    command: code -g {filename}:{line_number}
    console: false