[core]
        repositoryformatversion = 0
        filemode = true
        bare = false
        logallrefupdates = true
[remote "origin"]
        url = {{ gitea_app_url }}/{{ student_user }}/{{ gitea_repo_name }}.git
        fetch = +refs/heads/*:refs/remotes/origin/*
[init]
        defaultBranch = main
[safe]
        directory = /home/{{ student_user }}/{{ gitea_repo_name }}
[user]
        name = {{ student_user }}
        email = {{ student_user }}@acme.com
        password = {{ student_password }}
[http]
        sslVerify = False
[credential]
        helper = store --file /tmp/git-creds