---
s3_state: "present"
teardown: false
aap_dir: "/home/{{ codeserver_username }}/aap_install"
codeserver_url: https://github.com/coder/code-server/releases/download/v4.11.0/code-server-4.11.0-amd64.rpm
codeserver_rescue_url: https://github.com/coder/code-server/releases/download/v4.11.0/code-server-4.11.0-amd64.rpm
codeserver_username: "{{ username | default('ec2-user') }}"
codeserver_password: "{{ admin_password | default('ansible123!') }}"
codeserver_prebuild: "{{ pre_build | default(false) }}"
codeserver_authentication: "{{ workshop_type is defined | default(false) }}"

# If filename or download_url is undefined, code-server will download from the VSCode Marketplace.
codeserver_extensions:
  # Example
  # - name: redhat.ansible
  #   filename: redhat.ansible-1.3.50.vsix
  #   download_url: https://github.com/ansible/workshops/raw/devel/files/redhat.ansible-1.3.50.vsix
  - name: bierner.markdown-preview-github-styles
  - name: hnw.vscode-auto-open-markdown-preview
  - name: redhat.ansible
