[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlí?e?
GenericName[es]=Navegador web
GenericName[fa]=?????? ????????
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngész?
GenericName[it]=Browser Web
GenericName[ja]=????????
GenericName[ko]=? ????
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przegl?darka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[sk]=Internetový prehliada?
GenericName[sv]=Webbläsare
Comment=Browse the Web
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlí?ení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[es]=Navegue por la web
Comment[fa]=????? ???? ????? ??????? ?? ???? ??????
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=?????????
Comment[ko]=?? ?? ????
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przegl?danie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
Exec=firefox %u
Icon=firefox
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;profile-manager-window;

X-Desktop-File-Install-Version=0.26

[Desktop Action new-window]
Name=Open a New Window
Name[ach]=Dirica manyen
Name[af]=Nuwe venster
Name[an]=Nueva finestra
Name[ar]=????? ?????
Name[as]=???? ??????
Name[ast]=Ventana nueva
Name[az]=Yeni P?nc?r?
Name[be]=????? ????
Name[bg]=??? ????????
Name[bn_BD]=???? ?????? (N)
Name[bn_IN]=???? ??????
Name[br]=Prenestr nevez
Name[brx]=????? ?????'(N)
Name[bs]=Novi prozor
Name[ca]=Finestra nova
Name[cak]=K'ak'a' tzuwäch
Name[cs]=Nové okno
Name[cy]=Ffenestr Newydd
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[dsb]=Nowe wokno
Name[el]=??? ????????
Name[en_GB]=New Window
Name[en_US]=New Window
Name[en_ZA]=New Window
Name[eo]=Nova fenestro
Name[es_AR]=Nueva ventana
Name[es_CL]=Nueva ventana
Name[es_ES]=Nueva ventana
Name[es_MX]=Nueva ventana
Name[et]=Uus aken
Name[eu]=Leiho berria
Name[fa]=????? ?????
Name[ff]=Henorde Hesere
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fy_NL]=Nij finster
Name[ga_IE]=Fuinneog Nua
Name[gd]=Uinneag ùr
Name[gl]=Nova xanela
Name[gn]=Ovetã pyahu
Name[gu_IN]=??? ??????
Name[he]=???? ???
Name[hi_IN]=??? ?????
Name[hr]=Novi prozor
Name[hsb]=Nowe wokno
Name[hu]=Új ablak
Name[hy_AM]=??? ????????
Name[id]=Jendela Baru
Name[is]=Nýr gluggi
Name[it]=Nuova finestra
Name[ja]=????????
Name[ja_JP-mac]=???????
Name[ka]=????? ???????
Name[kk]=???? ??????
Name[km]=?????????????
Name[kn]=??? ?????
Name[ko]=? ?
Name[kok]=???? ????
Name[ks]=??? ?????
Name[lij]=Neuvo barcon
Name[lo]=????????????
Name[lt]=Naujas langas
Name[ltg]=Jauns l?gs
Name[lv]=Jauns logs
Name[mai]=?? ?????
Name[mk]=??? ????????
Name[ml]=????? ?????
Name[mr]=???? ???
Name[ms]=Tetingkap Baru
Name[my]=????????????
Name[nb_NO]=Nytt vindu
Name[ne_NP]=???? ????????
Name[nl]=Nieuw venster
Name[nn_NO]=Nytt vindauge
Name[or]=???? ??????
Name[pa_IN]=???? ?????
Name[pl]=Nowe okno
Name[pt_BR]=Nova janela
Name[pt_PT]=Nova janela
Name[rm]=Nova fanestra
Name[ro]=Fereastr? nou?
Name[ru]=????? ????
Name[sat]=???? ????? (N)
Name[si]=?? ????????
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[son]=Zanfun taaga
Name[sq]=Dritare e Re
Name[sr]=???? ??????
Name[sv_SE]=Nytt fönster
Name[ta]=????? ??????
Name[te]=????? ?????
Name[th]=????????????
Name[tr]=Yeni pencere
Name[tsz]=Eraatarakua jimpani
Name[uk]=???? ?????
Name[ur]=??? ?????
Name[uz]=Yangi oyna
Name[vi]=C?a s? m?i
Name[wo]=Palanteer bu bees
Name[xh]=Ifestile entsha
Name[zh_CN]=????
Name[zh_TW]=????
Exec=firefox --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Name[ach]=Dirica manyen me mung
Name[af]=Nuwe privaatvenster
Name[an]=Nueva finestra privada
Name[ar]=????? ???? ?????
Name[as]=???? ????????? ??????
Name[ast]=Ventana privada nueva
Name[az]=Yeni M?xfi P?nc?r?
Name[be]=????? ???? ???????????
Name[bg]=??? ???????? ?? ??????????? ?????????
Name[bn_BD]=???? ????????? ??????
Name[bn_IN]=???? ????????? ??????
Name[br]=Prenestr merdeiñ prevez nevez
Name[brx]=????? ???????? ?????'
Name[bs]=Novi privatni prozor
Name[ca]=Finestra privada nova
Name[cak]=K'ak'a' ichinan tzuwäch
Name[cs]=Nové anonymní okno
Name[cy]=Ffenestr Breifat Newydd
Name[da]=Nyt privat vindue
Name[de]=Neues privates Fenster
Name[dsb]=Nowe priwatne wokno
Name[el]=??? ???????? ????????? ??????????
Name[en_GB]=New Private Window
Name[en_US]=New Private Window
Name[en_ZA]=New Private Window
Name[eo]=Nova privata fenestro
Name[es_AR]=Nueva ventana privada
Name[es_CL]=Nueva ventana privada
Name[es_ES]=Nueva ventana privada
Name[es_MX]=Nueva ventana privada
Name[et]=Uus privaatne aken
Name[eu]=Leiho pribatu berria
Name[fa]=????? ?????? ????
Name[ff]=Henorde Suturo Hesere
Name[fi]=Uusi yksityinen ikkuna
Name[fr]=Nouvelle fenêtre de navigation privée
Name[fy_NL]=Nij priveefinster
Name[ga_IE]=Fuinneog Nua Phríobháideach
Name[gd]=Uinneag phrìobhaideach ùr
Name[gl]=Nova xanela privada
Name[gn]=Ovetã ñemi pyahu
Name[gu_IN]=??? ????? ??????
Name[he]=???? ???? ???
Name[hi_IN]=??? ???? ?????
Name[hr]=Novi privatni prozor
Name[hsb]=Nowe priwatne wokno
Name[hu]=Új privát ablak
Name[hy_AM]=????? ?????? ?????????
Name[id]=Jendela Mode Pribadi Baru
Name[is]=Nýr huliðsgluggi
Name[it]=Nuova finestra anonima
Name[ja]=??????????????
Name[ja_JP-mac]=?????????????
Name[ka]=????? ?????? ???????
Name[kk]=???? ??????? ??????
Name[km]=????????????????
Name[kn]=??? ????? ?????
Name[ko]=? ??? ?? ??
Name[kok]=??? ????? ?????
Name[ks]=??? ?????? ?????&amp;
Name[lij]=Neuvo barcon privou
Name[lo]=????????????????????????????
Name[lt]=Naujas privataus nar?ymo langas
Name[ltg]=Jauns privatais l?gs
Name[lv]=Jauns priv?tais logs
Name[mai]=??? ??? ????? (W)
Name[mk]=??? ???????? ????????
Name[ml]=????? ???????? ?????
Name[mr]=???? ???????? ???
Name[ms]=Tetingkap Persendirian Baharu
Name[my]=New Private Window
Name[nb_NO]=Nytt privat vindu
Name[ne_NP]=???? ???? ????????
Name[nl]=Nieuw privévenster
Name[nn_NO]=Nytt privat vindauge
Name[or]=???? ????????? ??????
Name[pa_IN]=???? ???????? ?????
Name[pl]=Nowe okno prywatne
Name[pt_BR]=Nova janela privativa
Name[pt_PT]=Nova janela privada
Name[rm]=Nova fanestra privata
Name[ro]=Fereastr? privat? nou?
Name[ru]=????? ????????? ????
Name[sat]=???? ???????? ????? (W )
Name[si]=?? ???????? ?????? (W)
Name[sk]=Nové okno v re?ime Súkromné prehliadanie
Name[sl]=Novo zasebno okno
Name[son]=Sutura zanfun taaga
Name[sq]=Dritare e Re Private
Name[sr]=???? ???????? ??????
Name[sv_SE]=Nytt privat fönster
Name[ta]=????? ????????? ??????
Name[te]=????? ???????? ?????
Name[th]=???????????????????
Name[tr]=Yeni gizli pencere
Name[tsz]=Juchiiti eraatarakua jimpani
Name[uk]=???????? ?????
Name[ur]=??? ??? ?????
Name[uz]=Yangi maxfiy oyna
Name[vi]=C?a s? riêng t? m?i
Name[wo]=Panlanteeru biir bu bees
Name[xh]=Ifestile yangasese entsha
Name[zh_CN]=????????
Name[zh_TW]=??????
Exec=firefox --private-window %u

[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Name[cs]=Správa profil?
Name[de]=Profilverwaltung öffnen
Exec=firefox --ProfileManager