[Desktop Entry]
Type=Application
Name=Inductive Automation Ignition
Exec=firefox --kiosk http://localhost:8088 --display=:0
OnlyShowIn=GNOME;
AutostartCondition=GSettings org.gnome.desktop.background show-desktop-icons