---
##
# Perform AAP post-install tasks
# Tags:
# demo-content - Remove Demo Org, project, inventory and job template
##
- name: Create controller_login fact and anchor
  ansible.builtin.set_fact:
    controller_login: &controller_login
      controller_username: "{{ controller_username }}"
      controller_password: "{{ controller_password }}"
      controller_host: "{{ controller_hostname }}"
      validate_certs: "{{ controller_validate_certs }}"

- name: Install EPEL repository
  ansible.builtin.yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: https://dl.fedoraproject.org/pub/epel/$releasever/Everything/$basearch
    gpgkey: "https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ ansible_distribution_major_version }}"
    gpgcheck: true
    state: present

- name: Install OS packages needed for tasks
  ansible.builtin.dnf:
    name:
      - python3-pip
      - python3-boto3
      - python3-botocore
      - unzip
    state: present

- name: Install requested OS packages
  ansible.builtin.dnf:
    name: "{{ controller_os_packages }}"
    state: present
  when: (controller_os_packages is defined) and (controller_os_packages | length > 0)

- name: Install Python packages - {{ ansible_user_id }}
  ansible.builtin.pip:
    name: "{{ controller_pip_packages }}"
    state: present
  become: true
  when: (controller_pip_packages is defined) and (controller_pip_packages | length > 0)

- name: Download and upgrade controller collections - {{ inventory_hostname }}
  community.general.ansible_galaxy_install:
    name: "{{ item }}"
    dest: /usr/share/ansible/collections
    type: collection
  become: true
  loop: "{{ controller_collections }}"
  register: __collection_install
  when: (controller_collections is defined) and (controller_collections | length > 0)

- name: Download AWS CLI for S3 downloads
  ansible.builtin.unarchive:
    src: "{{ aws_cli_install_package }}"
    dest: "/tmp/"
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  register: __aws_cli_download

- name: Install AWS CLI for S3 downloads
  ansible.builtin.command:
    cmd: /tmp/aws/install --install-dir /usr/local/aws --bin-dir /usr/bin/ --update
    creates: /usr/bin/aws

- name: Install generic ansible.cfg in home directory
  ansible.builtin.template:
    src: ansible.cfg.j2
    dest: "/etc/ansible/ansible.cfg"
    mode: 0644

- name: Download setup scripts to controller /opt directory - {{ lab.s3_bucket_name }}
  ansible.builtin.command:
    cmd: "/usr/bin/aws s3 sync --no-sign-request s3://{{ lab.s3_bucket_name }}/{{ track_slug }} /opt/setup-scripts/{{ track_slug }}"
  become: true
  register: __s3_sync_output
  changed_when: '"download:" in __s3_sync_output.stdout'

# This changes standard controller image admin password to controller_password.
- name: Update controller image admin password
  ansible.builtin.expect:
    command: awx-manage changepassword admin
    responses:
      Password: "{{ controller_password }}"
      Password (again): "{{ controller_password }}"
  tags:
    - install-controller

## Remove controller demo content
- name: Remove pre-created demo content
  delegate_to: localhost
  become: false
  tags:
    - demo-content
  block:
    - name: Demo content - create organization
      awx.awx.organization:
        name: "Default"
        state: present
        <<: *controller_login

    - name: Demo content - remove job template
      awx.awx.job_template:
        name: "Demo Job Template"
        state: absent
        <<: *controller_login

    - name: Demo content - remove project
      awx.awx.project:
        name: "Demo Project"
        state: absent
        organization: "Default"
        <<: *controller_login

    - name: Demo content - remove inventory
      awx.awx.inventory:
        name: "Demo Inventory"
        state: absent
        organization: "Default"
        <<: *controller_login

    - name: Demo content - remove credential
      awx.awx.credential:
        name: "Demo Credential"
        credential_type: "Machine"
        state: absent
        <<: *controller_login

    - name: Demo content - remove organization
      awx.awx.organization:
        name: "Default"
        state: absent
        <<: *controller_login

- name: Download custom execution environments
  when: (controller_execution_environments is defined) and (controller_execution_environments | length > 0)
  tags:
    - controller-config
  block:
    - name: Install containers.podman collection
      community.general.ansible_galaxy_install:
        name: containers.podman
        dest: /usr/share/ansible/collections
        type: collection
      register: __collection_install

    - name: Log into registry.redhat.io
      become_user: "awx"
      containers.podman.podman_login:
        registry: "registry.redhat.io"
        username: "{{ registry_username }}"
        password: "{{ registry_password }}"

    - name: Pull execution environment images
      become_user: "awx"
      containers.podman.podman_image:
        name: "{{ item.image }}"
      loop: "{{ controller_execution_environments }}"
      register: __podman_pull_supported
      until: __podman_pull_supported is not failed
      retries: 40
      delay: 2
