# Workflow name
name: Validate packer file 
on:
  # Triggers the workflow on push events but only for the main branch
  pull_request:
    types: [opened, reopened]
    branches:
      - devel
    paths:
      - 'images/*.pkr.hcl'
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  list-packer-files:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'devel'
      - id: set-matrix
        run: echo "::set-output name=matrix::$(ls images/*.pkr.hcl | jq -R -s -c 'split("\n")[:-1]')"
  check:
    needs: list-packer-files
    runs-on: ubuntu-latest
    strategy:
        matrix:
            packer-file: ${{ fromJson(needs.list-packer-files.outputs.matrix) }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'devel'
    # validate templates
    - name: Validate ${{ matrix.packer-file }}
      uses: hashicorp/packer-github-actions@master
      with:
        command: validate
        target: ${{ matrix.packer-file }}
